<div class = "container">
    <h1>  Artists </h1>
  <div class = "row">
      <% @artists.each do |artist| %>

          <% if artist.photos.any? %>
            <% artist.photos.each do |photo|%>
            <%= image_tag photo.image  %>
            <% end %>
          <%else %>
          <p> This artist has no picture</p>
          <% end %>

          <h4> <%= link_to artist.name, artist, class: "btn btn-default" %> </h4>

          <%= link_to "Delete", artist_path(artist.id), class: "btn btn-primary", method: :delete, data: { confirm: "Are you sure?" } %>

      <% end %>

  </div>
</div>
