<div class="col-md-9">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Artists
    </div>
    <div class="panel-body">

      <% @artists.each do |artist| %>
      <div class="row">
        <div class="col-md-7">
          <h4> <a href=""> <%= artist.name %></h4> </a>

          <% end %>
        


        </div>
        <div class="col-md-3 right">

        </div>
      </div>


    </div>
  </div>
