<div class = "container">

    <h1>  Artists </h1>
      <% @artists.each do |artist| %>

      <div class="container_item">
          <% if artist.photos.any? %>
            <% artist.photos.each do |photo|%>
               <%= image_tag photo.image.thumbnail  %>
            <% end %>
          <%else %>
          <p> This artist has no picture</p>
          <% end %>

            <h4> <%= link_to artist.name, artist, class: "btn btn-default" %> </h4>
        <% end %>
      </div>


</div>
