<div class="col-md-9">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Artists
    </div>
    <div class="panel-body">

      <% @artists.each do |artist| %>
      <div class="row">
        <div class="col-md-7">

          <h4> <%= link_to artist.name, artist, class: "btn btn-default" %> </h4>

          <div class="panel-body">
          <%= link_to "Delete", artist_path(artist.id), class: "btn btn-default", method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
          <% end %>
        </div>





    </div>
  </div>
