<div class = "container-fluid">
    <h1>  Artists </h1>

    <div class = "Artist">
      <% @artists.each do |artist| %>

          <% if artist.photos.any? %>
            <% artist.photos.each do |photo|%>
               <%= image_tag photo.image.thumbnail  %>
            <% end %>
          <%else %>
          <p> This artist has no picture</p>
          <% end %>

          <h4> <%= link_to artist.name, artist, class: "btn btn-default" %> </h4>
      <% end %>
  </div>
</div>
