<div class="col-md-9">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Artists
    </div>
    <div class="panel-body">

      <% @artists.each do |artist| %>
      <div class="row">
        <div class="col-md-7">

          <h4> <%= link_to artist.name, artist, class: "btn btn-default" %> </h4>
          <% end %>

        </div>



    </div>
  </div>
