<h1>  Artists </h1>
<div class="box">
  <% @artists.each do |artist| %>
      <% artist.photos.each do |photo|%>
      <div class="box-item">
      <%= image_tag photo.image.thumbnail  %>
<% end %>
      <h4> <%= link_to artist.name, artist, class: "btn btn-default" %> </h4>

  </div>
  <% end %>

</div>
