<div class = "container-fluid">
    <h1>  Artists </h1>
      <% @artists.each do |artist| %>

          <% if artist.photos.any? %>
            <% artist.photos.each do |photo|%>
            <%= image_tag photo.image  %>
            <% end %>
          <%else %>
          <p> This artist has no picture</p>
          <% end %>

          <h4> <%= link_to artist.name, artist, class: "btn btn-default" %> </h4>
          <%= link_to "Delete this Artist", artist_path(artist.id), class: "btn btn-primary", method: :delete, data: { confirm: "Are you sure you want to delete this artist and all associated songs?" } %>
      <% end %>
  </div>
</div>
