<div class="panel panel-primary">
  <div class="panel-heading"><%= @artist.name %></div>

<h4> Songs </h4>
<ul>
  <% @artist.songs.each do |song| %>
   <li><%= song.titel %></li>
  <%end%>
</ul>

<h4> Add a song </h4>

<%= render 'form' %>

<h1> Delete this Artist</h1>
<button><%= link_to "Delete this artist", artist_path(@artist.id), method: :delete, data: {confirm: "Are you sure?"} %></button>


</div>
</div>
