
<%= form_for [@artist, @song] do |f| %>

  <div class="form-group">
    <label> Title of the Song: </label>
     <span id= "new_song_titel"> <%= f.text_field :titel, placeholder:"Enter title of song", class: "form-control" %> </span>
  </div>


<% end %>
