@import "bootstrap-sprockets";
@import "bootstrap";

body {
background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
min-height:100vh;
font-family: 'Quicksand', sans-serif;
}

hr {
  border: none;
  height: 10px;
  background: linear-gradient(-135deg, #fff 5px, transparent 0) 0 5px, linear-gradient(135deg, #fff 5px, #8c8c8c 0) 0 5px;
  background-color: #fff;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 10px 10px;
}

.left {
  float:left;
}
